<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('./head.ejs') %>
    <script>
        function test() {
          <%sample()%>
        }
    </script>
</head>

<body>
<div class="row">
    <div class="col-sm-12">
        <%- include('./share/navbar') %>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <button onclick="test()"><%=title%></button>
        <p><%=JSON.stringify(result)%></p>
    </div>
    <div class="col-sm-9">
        <%- include('./share/HansolTable') %>
    </div>
</div>
</body>
</html>
