<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="/stylesheets/wrapper.css" type="text/css">
    <meta charset="UTF-8">

<script>
  function tabChange(type) {
    const selectedType = type ? 'INCOME' : 'OUTCOME';

    location.href = `/accountbook/main?type=${selectedType}&walletId=<%= walletId %>`;
  }

  function handleClickPocket(index) {
    //
    var list = <%- JSON.stringify(pocketList) %>;
    document.getElementById("main_page_wallet_dropdown").innerText = list[index].name ;


    selectedWallet = list[index].id;
    location.href = `/accountbook/main?type=<%= type%>&walletId=${selectedWallet}`;
  }

  window.onload  = function() {
    var walletId = <%= walletId %>;

    if(walletId) {
      var list = <%- JSON.stringify(pocketList) %>;
      const target = list.find(model => model.id === walletId);
      document.getElementById("main_page_wallet_dropdown").innerText = target.name ;
    }
  }
</script>
</head>

<body>
    <%- include('../sidebar.ejs') %>
    
    <div class="contents_container">
        <h1>메인페이지</h1>
        <div class="main_contents_graph" style="background-color: rgb(250, 250, 236)">
            <canvas id="consumpsion_graph"></canvas>
        </div>
        <br>
        <br />
        <div class="dropdown-divider"></div>
        <br />
        <div class="container" style="margin-left: 0; margin-right: 0">
            <div class="row">
                <div class="col-2" style="padding-left: 0">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="main_page_wallet_dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            선택
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="main_page_wallet_dropdown">
                            <% for(var i = 0; i < pocketList.length; i++) { %>
                                <li><a class="dropdown-item" onclick="handleClickPocket(<%=i%>)"><%= pocketList[i].name %></a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
                <div class="col-6"></div>
                <div class="col-4" style="padding-right: 0">
                    <div class="table_switch">
                        <input
                                type="radio"
                                class="btn-check"
                                name="options-outlined"
                                id="success-outlined"
                                autocomplete="off"
                                <%= type ? 'checked' : null %>
                        >
                        <label class="btn btn-outline-success" for="success-outlined" onclick="tabChange(true)">수입</label>
                    </div>
                    <div class="table_switch">
                        <input
                                type="radio"
                                class="btn-check"
                                name="options-outlined"
                                id="danger-outlined"
                                autocomplete="off"
                                <%= !type ? 'checked' : null %>
                        >
                        <label class="btn btn-outline-danger" for="danger-outlined" onclick="tabChange(false)">지출</label>
                    </div>
                </div>
            </div>
        </div>

        <table>
            <tr>
                <th>번호</th>
                <th>내용</th>
                <th>금액</th>
                <th>지갑</th>
                <th>날짜</th>
            </tr>
            <%for(var i = 0; i < results.length; i++){%>
                <tr id="myTable">
                    <td><%= i + 1 %></td>
                    <td><%= results[i].title %></td>
                    <td><%= results[i].amount %></td>
                    <td><%= results[i].pocket_id %></td>
                    <td><%= new Date(results[i].date).getFullYear() + '-' + (new Date(results[i].date).getMonth() + 1).toString().padStart(2, '0') + '-' + new Date(results[i].date).getDate().toString().padStart(2, '0') %></td>
                </tr>
            <%}%>
        </table>
    </div>

    <script>
      const DATA_COUNT = 5;
      const NUMBER_CFG = {count: DATA_COUNT, min: 0, max: 100};

      const values = '<%= results.map(result => result.title) %>';
      const parsedValues = values.split(',');

      var data = {
        labels: parsedValues,
        datasets: [
          {
            label: 'Dataset 1',
            data: <%= JSON.stringify(results.map(result => result.amount)) %>,
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
            ],
          }
        ]
      };

      const config = {
        type: 'pie',
        data: data,
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: `최근 ${<%= type %> ? '수입' : '지출'} 비율`
            }
          }
        },
      };

      var myChart = new Chart(
        document.getElementById('consumpsion_graph'),
        config
      );
    </script>


</body>
</html>
